@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root { 
  --primary: #6b228d;
  --secondary: #8c38ff;
  --dark: #202733;
  --light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #1d1b31;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 16px;
}

.calculator {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}

.display {
  padding: 16px;
  text-align: right;
  background: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 500;
}

.display span {
  font-size: 14px;
  color: #888;
}

button {
  appearance: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: .4s;
}

button:hover {
  opacity: .9;
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  font-weight: 400;
  background: var(--primary);
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background: var(--dark);
}